set timeout=5
set default=0
set menu_color_normal=white/black
set menu_color_highlight=black/white

insmod all_video
insmod gfxterm
set gfxmode=auto
terminal_output gfxterm

set theme=/boot/grub/themes/goonix/theme.txt

menuentry "Goonix" {
    multiboot /boot/kernel.bin
}